<!DOCTYPE html>
<html ng-app="prayerApp">
<head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Prayer Times</title>
  <meta name="description" content="Figure out the prayer times for where you are!">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="prayerCtrl">

<div id="main" ng-cloak style="background: -webkit-linear-gradient(to bottom, {{topColor}}, {{bottomColor}}); background: -o-linear-gradient(to bottom, {{topColor}}, {{bottomColor}}); background: -moz-linear-gradient(to bottom, {{topColor}}, {{bottomColor}}); background: linear-gradient(to bottom, {{topColor}}, {{bottomColor}});">

	<section class="header">
		<div ng-click="showOptionsView()" class="show-options-button"><img src="gear.svg"></div>
		<div id="clock">
			{{clock | date : "MMM d, hh:mm:ss a"}}
			<hr />
		</div>
	</section>

	<section ng-show="showOptions">
		<div class="headerTitle">SELECT LOCATION</div>
		<input type="text" placeholder="Enter your location" g-places-autocomplete ng-model="place" />
		<input ng-show="isDateAvailable" type="date" ng-model="newDate" />
	</section>

	<section class="headlines" ng-show="isCurrentDay && isCurrentLocation && !showOptions">
		<div class="currentPrayer">
			CURRENT PRAYER
		</div>
		<div class="currentPrayerTime">
			<span>{{currentPrayerString}} {{currentPrayerTimeString}}</span>
		</div>
		<div id="till">
			{{timeTillNextPrayerString}} {{nextPrayer.name}}
		</div>
	</section>

	<section class="headlines" ng-show="!isCurrentLocation && !showOptions">
		<div class="currentPrayer">
			Prayer Times For
		</div>
		<div class="currentPrayerTime">
			{{myLocation}}
		</div>
	</section>

	<div id="times" ng-show="!showOptions">
		<section>
			<div class="col">
				<p>FAJR</p><p class="actual-time">{{convertTimeValueForDisplay(prayerTimesDisplayArray[0].values)}}</p>
				<div class="clear"></div>
				<p>SUNRISE</p><p class="actual-time">{{convertTimeValueForDisplay(prayerTimesDisplayArray[1].values)}}</p>
				<div class="clear"></div>
				<p>DHUHR</p><p class="actual-time">{{convertTimeValueForDisplay(prayerTimesDisplayArray[2].values)}}</p>
				<div class="clear"></div>
			</div>
			<div class="col">
				<p>ASR</p><p class="actual-time">{{convertTimeValueForDisplay(prayerTimesDisplayArray[3].values)}}</p>
				<div class="clear"></div>
				<p>MAGHRIB</p><p class="actual-time">{{convertTimeValueForDisplay(prayerTimesDisplayArray[4].values)}}</p>
				<div class="clear"></div>
				<p>ISHA</p><p class="actual-time">{{convertTimeValueForDisplay(prayerTimesDisplayArray[5].values)}}</p>
				<div class="clear"></div>
			</div>
		</section>
	</div>

	<div id="test">
		{{minutesSinceStart}} - {{minutesTillNext}}
	</div>
</div>

<script src="combined.js"></script>


</body>
</html>