/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body, h1, h2, h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 24px;
}

html, body, #main {
	height: 100%;
}

#test {
	display: none;
}

#main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	color: white;
	background: #444
}

.show-options-button img{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 25px;

}

#clock, #currentPrayer, #currentPrayerTime, #till {
	text-align: center;
}

.header {
	padding-top: 10px;
}

#main #currentPrayerTime {
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 5px;
}

#main section.headlines{
	top: 50%;
	left: 0;
	right: 0;
	position: fixed;
	margin-top: -96px;
	font-size: 18px;
}

#times {
	font-size: 16px;
}

.col p {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 3px;
}

.actual-time {
	text-align: right;
}

.clear {
	clear: both;
}

#times section {
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}


#times .col {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding-bottom: 10px;
}

input {
	width: 90%;
	height: 24px;
	font-size: 16px;
	box-sizing: border-box;
	text-align: center;
	margin: 0 auto;
	margin-left: 5%
}

